<ion-tabs class="tabs-icon-top tabs-stable">

    <ion-tab title="Jugadores" icon="ion-jugadores" href="#/tab/player">
        <ion-nav-view name="player-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Crear partido" icon="ion-newpartido" href="#/tab/new_partido">
        <ion-nav-view name="newPartido-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Partidos" icon="ion-partidos" href="#/tab/partidos">
        <ion-nav-view name="partidos-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Ajustes" icon="ion-ajustes" ui-sref="tabs.setting">
        <ion-nav-view name="setting-tab"></ion-nav-view>
    </ion-tab>

</ion-tabs>