.match{
  display: flex;
  position: relative;
  flex-wrap: nowrap;
	&_detail{
		@include font(rr, 13px, #020202);
		flex: 0 0 140px;
		overflow: hidden;
	}
	&_date,
	&_place{
		@include font(rr, 12px, #020202);
		display: block;
		line-height: 1.3;
		opacity: .8;
		white-space: pre-wrap;
		&-confirm{
			&:after{
				content: "";
				@include getSprite();
			  display: inline-block;
			  background-position: (-303px/2) 0;
			  height: (28px/2);
			  width: 19px;
			  vertical-align: middle;
			  margin-left: 2px;
			}
		}
		&-pending{
			&:after{
				content: "Pendiente";
				@include font(rb, 8px, #ff2400);
			  vertical-align: middle;
			  margin-left: 2px;
			}
		}
	}
	&_time{
		@include font(rr, 11px, #408337);
		display: block;
		line-height: 13px;
	}
	&_players{
		width: 100%;
		// @include center(v);
	}
	&_orderby-label{
		font-family: 'roboto-bold';
		line-height: 24px;
	    float: right;
		&:after{
			content: "";
			display: inline-block;
			vertical-align: middle;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 8px 4.5px 0 4.5px;
			border-color: #000000 transparent transparent transparent;
		}
	}
	&_orderby-checkbox{
		display: none;
		&:checked{
			+ .match_orderby-list{
				display: block;
			}
		}
	}
	&_orderby-list{
		background-color: #e0e0e0;
		padding: 0 0 0 5px;
		position: absolute;
		z-index: 100;
		right: 0;
		top: 100%;
		display: none;
		li{
			border-bottom: 1px solid #fff;
			&:last-child{
				border-bottom: 0;
			}
			label{
				@include font(rr, 11px, #403f3f);
				line-height: 1.3;
				display: block;
				text-decoration: none;
				padding: 5px 29px 5px 10px;
			}
			input[type="radio"]{
				display: none;
				&:checked{
					+ label{
						background:transparent url('../img/checked.png') right center no-repeat;
						background-size: 21px;
					}
				}
			}
		}
	}
}

.list-matches{
	.item{
		.item-content{
			padding: 10px;
		}
		&-divider{
			background-color: #fff;
			@include font(rb,12px,#403f3f);
			padding: 0px 10px;
			height: 25px;
			overflow: initial;
			z-index: inherit;
		}
	}
}
.grayscale{
	filter: grayscale(1);
}


.has-tabs-top{
	// top: 78px;
}