.match-players{
  display: flex;
  justify-content: center;
  align-items: center;	
	&_item{
    flex: 1;
    text-align: center;
	}
	&_img{
		height: auto;
		width: 100%;
		position: relative;
		z-index: 2;
		&-grayscale{
			filter: grayscale(100%);
		}
	}
	&_link{
		background-color:#858383;
		border-radius: 100%;
		display: inline-block;
		height: 36px;
		overflow: hidden;
		width: 36px;
		position: relative;
		margin-right: 6px
	}
	&_icon{
		@include center(f);
		&:after{
			display: block;
		}
	}
}