.bar-subheader{
	.title{
		/* height: 28px;
		line-height: 29px; */
	}
	.buttons{
		
	}
	.button{
		font-size: 16px !important;
		line-height: 1.1;
		/* min-height: 28px;
		line-height: 29px; */
	}
}
// .bar
