<ion-view view-title="{{ title}}">
    <ion-nav-buttons>
        <!--<button class="button button-icon" ui-sref="tabs.search-partidos"><i class="ic-search"></i></button>-->
    </ion-nav-buttons>

    <!--<ion-content class="has-subheader">-->
    <ion-tabs class="tabs-striped tabs-top tabs-background-light game">

        <ion-tab title="Todos" on-select="onTabSelected('Todos')">
            <ion-view>
                <div ng-include src="'templates/partidos/ptodos.html'"></div>
            </ion-view>
        </ion-tab>

        <ion-tab title="Personales" on-select="onTabSelected('Personales')">
            <ion-view>
                <div ng-include src="'templates/partidos/ppersonales.html'"></div>
            </ion-view>
        </ion-tab>

        <ion-tab title="Confirmados" on-select="onTabSelected('Confirmados')">
            <ion-view>
                <div ng-include src="'templates/partidos/pconfirmados.html'"></div>
            </ion-view>
        </ion-tab>

        <ion-tab title="Jugados" on-select="onTabSelected('Jugados')">
            <ion-view>
                <div ng-include src="'templates/partidos/pjugados.html'"></div>
            </ion-view>
        </ion-tab>

    </ion-tabs>
    <!--</ion-content>-->
</ion-view>
