<ion-popover-view class="popover-mostrar no-margin">
    <ion-content scroll="false" class="no-margin">
        
        <ul class="match_orderby-list" ng-if="tabMostrar == 'todos'">
            <li>
                <input type="radio" id="orderby-1" name="orderby" ng-model="filter_mostrar" ng-value="'todos'" ng-change="filterMostrar(filter_mostrar)">
                <label for="orderby-1">Todos</label>
            </li>
            <li>
                <input type="radio" id="orderby-2" name="orderby" ng-model="filter_mostrar" ng-value="'doubles'" ng-change="filterMostrar(filter_mostrar)">
                <label for="orderby-2">Partidos dobles</label>
            </li>
            <li>
                <input type="radio" id="orderby-3" name="orderby" ng-model="filter_mostrar" ng-value="'singles'" ng-change="filterMostrar(filter_mostrar)">
                <label for="orderby-3">Partidos singles</label>
            </li>
        </ul>
        
        <ul class="match_orderby-list" ng-if="tabMostrar == 'personales'">
            <li>
                <input type="radio" id="orderby-1" name="orderby" checked ng-model="filter_mostrar" ng-value="'todos'" ng-change="filterMostrar(filter_mostrar)">
                <label for="orderby-1">Todos</label>
            </li>
            <li>
                <input type="radio" id="orderby-2" name="orderby" ng-model="filter_mostrar" ng-value="'cancha'" ng-change="filterMostrar(filter_mostrar)">
                <label for="orderby-2">Esperando cancha</label>
            </li>
            <li>
                <input type="radio" id="orderby-3" name="orderby" ng-model="filter_mostrar" ng-value="'confirmacion'" ng-change="filterMostrar(filter_mostrar)">
                <label for="orderby-3">Esperando confirmación</label>
            </li>
            <li>
                <input type="radio" id="orderby-4" name="orderby" ng-model="filter_mostrar" ng-value="'respuestas'" ng-change="filterMostrar(filter_mostrar)">
                <label for="orderby-4">Esperando respuesta</label>
            </li>
        </ul>
    </ion-content>
</ion-popover-view>