<ion-content>
    <ion-list class="list-matches">
        <ion-item class="item-divider" ng-if="filterPersonales == 'todos' || filterPersonales == 'cancha'" style="overflow: hidden;">
            Esperando Cancha
            <a for="ty-orderby-2" class="match_orderby-label" ng-click="openMostrar($event, 'personales')">
                Mostrar
            </a>
        </ion-item>
        <ion-item ng-click="infoPartidos(esperando)" ng-class="{'item-new': isNotifPartido(esperando)}" ng-if="esperando.confirmCancha == false && (filterPersonales == 'todos' || filterPersonales == 'cancha')" ng-repeat="esperando in list.data| filter: partidosPersConf">
            <div class="match">
                <div class="match_detail">
                    <span class="match_date">{{esperando.id + '-' + formatFecha(esperando.fechai, 'dddd DD/MM, HH') + ' hs'}}</span>
                    <span ng-class="{'match_place-confirm':esperando.confirmCancha, 'match_place-pending':!esperando.confirmCancha}" class="match_place">{{esperando.clubCancha.nombre}}</span>
                    <span class="match_time">{{formatFromNow(esperando.fechai)}}</span>
                </div>
                <div class="match_players">
                    <ul class="match-players" ng-if="esperando.jugadorpartido">
                        <li class="match-players_item" ng-repeat="jugadorpartido in esperando.jugadorpartido">
                            <a class="match-players_link">
                                <img ng-class="{'match-players_img-grayscale':jugadorpartido.estado == 'invitado', 'match-players_img':jugadorpartido.estado == 'aceptado'}" err-src="assets/img/profile.png" ng-src="{{jugadorpartido.jugador.photo}}"  download-task="jugadorpartido.jugador.photo" widht="36" height="36">
                            </a>
                        </li>
                        <li class="match-players_item" ng-repeat="item in getVacios(esperando)">
                            <a class="match-players_link"><i class="match-players_icon ic-plus"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </ion-item>

        <ion-item class="item-divider" ng-if="filterPersonales == 'todos' || filterPersonales == 'confirmacion'" style="overflow: hidden;">
            Partidos Incompletos
            <a for="ty-orderby-2" class="match_orderby-label" ng-click="openMostrar($event, 'personales')" ng-if="filterPersonales == 'confirmacion'">
                Mostrar
            </a>
        </ion-item>
        <ion-item ng-click="infoPartidos(confirmacion)" ng-class="{'item-new': isNotifPartido(confirmacion)}" ng-if="confirmacion.confirmCancha && !isCompleto(confirmacion) && (filterPersonales == 'todos' || filterPersonales == 'confirmacion')" ng-repeat="confirmacion in list.data| filter: partidosPersConf">
            <div class="match">
                <div class="match_detail">
                    <span class="match_date">{{confirmacion.id + '-' + formatFecha(confirmacion.fechai, 'dddd DD/MM, HH') + ' hs'}}</span>
                    <span ng-class="{'match_place-confirm':confirmacion.confirmCancha, 'match_place-pending':!confirmacion.confirmCancha}" class="match_place">{{confirmacion.clubCancha.nombre}}</span>
                    <span class="match_time">{{formatFromNow(confirmacion.fechai)}}</span>
                </div>
                <div class="match_players">
                    <ul class="match-players" ng-if="confirmacion.jugadorpartido">
                        <li class="match-players_item" ng-repeat="jugadorpartido in confirmacion.jugadorpartido">
                            <a class="match-players_link">
                                <img ng-class="{'match-players_img-grayscale':jugadorpartido.estado == 'invitado', 'match-players_img':jugadorpartido.estado == 'aceptado'}" err-src="assets/img/profile.png" ng-src="{{jugadorpartido.jugador.photo}}"  download-task="jugadorpartido.jugador.photo" widht="36" height="36">
                            </a>
                        </li>
                        <li class="match-players_item" ng-repeat="item in getVacios(confirmacion)">
                            <a class="match-players_link"><i class="match-players_icon ic-plus"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </ion-item>

        <ion-item class="item-divider" ng-if="filterPersonales == 'todos' || filterPersonales == 'respuestas'" style="overflow: hidden;">
            Esperando Respuesta
            <a for="ty-orderby-2" class="match_orderby-label" ng-click="openMostrar($event, 'personales')" ng-if="filterPersonales == 'respuestas'">
                Mostrar
            </a>
        </ion-item>
        <ion-item ng-click="infoPartidos(respuesta)" ng-class="{'item-new': isNotifPartido(respuesta)}" ng-if="respuesta.confirmCancha && isCompleto(respuesta) && hasIvitado(respuesta) && (filterPersonales == 'todos' || filterPersonales == 'respuestas')" ng-repeat="respuesta in list.data| filter: partidosPersConf">
            <div class="match">
                <div class="match_detail">
                    <span class="match_date">{{respuesta.id + '-' + formatFecha(respuesta.fechai, 'dddd DD/MM, HH') + ' hs'}}</span>
                    <span ng-class="{'match_place-confirm':respuesta.confirmCancha, 'match_place-pending':!respuesta.confirmCancha}" class="match_place">{{respuesta.clubCancha.nombre}}</span>
                    <span class="match_time">{{formatFromNow(respuesta.fechai)}}</span>
                </div>
                <div class="match_players">
                    <ul class="match-players" ng-if="respuesta.jugadorpartido">
                        <li class="match-players_item" ng-repeat="jugadorpartido in respuesta.jugadorpartido">
                            <a class="match-players_link">
                                <img ng-class="{'match-players_img-grayscale':jugadorpartido.estado == 'invitado', 'match-players_img':jugadorpartido.estado == 'aceptado'}" err-src="assets/img/profile.png" ng-src="{{jugadorpartido.jugador.photo}}"  download-task="jugadorpartido.jugador.photo" widht="36" height="36">
                            </a>
                        </li>
                        <li class="match-players_item" ng-repeat="item in getVacios(respuesta)">
                            <a class="match-players_link"><i class="match-players_icon ic-plus"></i></a>
                        </li>
                    </ul>
                </div>
            </div>

        </ion-item>
    </ion-list>
    <ion-infinite-scroll distance="2%" on-infinite="getPartidosP()" 
                         ng-if="filterPartidos.idType !== null? list.paginate.personales[filterPartidos.type][filterPartidos.idType].next : list.paginate.personales[filterPartidos.type].next">
    </ion-infinite-scroll>
    
    <div style="height: 46px"></div>
</ion-content>