<ion-view title="Añadir jugador">

    <ion-header-bar class="bar-stable">
        <a class="button  button-clear button-dark" ng-click="$ionicGoBack()"><i class="icon ion-ios-arrow-back"></i></a>

        <h1 class="title title-header">Añadir jugador</h1>
        <button class="button button-clear btn-left" ng-click="onCrearGrupo()" ng-disabled="new_group.jugadores == 0"> Crear </button>
    </ion-header-bar>

    <ion-content class="has-header">

        <div class="bar item-input-inset">
            <ion-search class="search-wrapper-light" placeholder="Nombre del jugador" min-length="1" filter="new_group.filter" model="new_group.search" focus="changeFocus(value)" source="searchJugador(str)"></ion-search>
        </div>

        <ion-list class="players-list" ng-hide="!new_group.focus">
            <ion-item class="item item-avatar item-icon-right" type="item-text-wrap" ng-if="!isAdd(jugador)" ng-repeat="jugador in filterQuery(new_group.search,new_group.filter.value) | orderBy:'name'" ng-click="addJugador(jugador)">
                <img ng-src="{{jugador.photo != null ? jugador.photo : 'assets/img/profile.png'}}">
                <h2>{{jugador.name}}</h2>
                <p>{{jugador.estado}}</p>
                <p>{{jugador.clubCancha.nombre}}</p>
            </ion-item>
        </ion-list>

        <ion-list class="players-list" ng-hide="new_group.focus">
            <ion-item class="item item-avatar item-icon-right" type="item-text-wrap" ng-repeat="jugador in new_group.jugadores">
                <img ng-src="{{jugador.photo != null ? jugador.photo : 'assets/img/profile.png'}}">
                <h2>{{jugador.name}}</h2>
                <p>{{jugador.estado}}</p>
                <p>{{jugador.clubCancha.nombre}}</p>
                <i class="icon ion-ios-minus-outline" style="color: #289735;" ng-click="onDelete(jugador)"></i>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>