<ion-view title="Crear grupo">

    <ion-header-bar class="bar-stable">
        <button class="button button-clear btn-left" ng-click="modal.hide()"> Cancelar </button>
        <h1 class="title title-header">Crear grupo</h1>
        <button class="button button-clear btn-left" ng-click="onSig('tabs.player.add_jugador')" ng-disabled="data.title.length == 0"> Sig. </button>
    </ion-header-bar>

    <ion-content class="has-header">
        <ion-list class="players-list">

            <ion-item class="item item-avatar item-text" type="item-text-wrap">
                <img ng-src="{{data.img?data.img:'assets/img/group.png' }}" ng-click="loadPhoto()">
                <span>Ingresa un asunto del grupo y un icono del grupo opcional</span>
            </ion-item>

            <label class="item item-input item-cont">
                <input type="text" ng-model="data.title" placeholder="Asunto del grupo" autofocus maxlength="25">
                <span class="item-note">{{25 - data.title.length}}</span>
            </label>

        </ion-list>

    </ion-content>
</ion-view>