<ion-view>
    <ion-nav-title class="button button-clear" ng-click="nextGrupo(grupo)"> {{grupo.title}} </ion-nav-title>

    <ion-nav-buttons side="right" class="button button-clear">
        <img ng-src="{{grupo.image != null ? grupo.image : 'assets/img/group.png'}}" class="match-players_img" style="width: 32px; border-radius: 50%;"  ui-sref="tabs.info-groups({id:grupo.id})">
    </ion-nav-buttons>

    <ion-content>

        <ion-list class="players-list">

			<ion-item ng-show="!isYo(jugador.jugador)" item="item" class="item item-avatar item-icon-right item-remove-animate" ng-repeat="jugador in grupo.jugadorgrupo" type="item-text-wrap" href="">
                <img ng-src="{{jugador.jugador.photo != null ? jugador.jugador.photo : 'assets/img/profile.png'}}">
                <h2>{{jugador.jugador.name}}</h2>
                <p>{{jugador.jugador.estado}}</p>
                <p>{{jugador.jugador.clubCancha.nombre}}</p>
                <!--<p>Lawn Tenis, Nautilus</p>-->
                <i class="icon ion-chevron-right"></i>

			</ion-item>

		</ion-list>

	</ion-content>
</ion-view>