<ion-view title="Iniciar sesión"  class="fondo-login sign-in">
    <ion-content >
        <div class="row">
            <div class="col text-center">
                <img data-ng-src="assets/img/icon-login.png" class="image-list-thumb thumb-login"/>
            </div>
        </div>
        <form>
            <div class="list login-fields">
                <label class="item item-input background-transparent login-fields_label">
                    <input type="email" placeholder="Email" ng-model="user.email" class="login-fields_field">
                </label>
                <label class="item item-input background-transparent login-fields_label">
                    <input type="password" placeholder="Contraseña" ng-model="user.password" class="login-fields_field">
                </label>
            </div>
            <div class="sign-in_cright">
                <a href="#" class="sign-in_forget">¿Olvidó contraseña?</a>
            </div>
            <button class="button button-full sign-in_submit" ng-click="signIn(user)">
                Iniciar sesión
            </button>
        </form>

        <button class="button button-full no-margin no-border btn-social btn-social-facebook" ng-click="signInFacebook()">
            Iniciar sesión con Facebook
        </button>
        <button class="button button-full no-margin no-border btn-social btn-social-twitter" ng-click="signInLinkedin()">
            Iniciar sesión con Linkedin
        </button>
        <!--        <button class="button button-full no-margin no-border btn-social btn-social-google" ng-click="signInGoogle()">
                    Iniciar sesión con Google
                </button>-->
        <button class="button button-full btn-register" ui-sref="signup()">
            Registrarse
        </button>

    </ion-content>
</ion-view>