<ion-modal-view class=" new-match">

    <ion-header-bar class="bar-stable">
        <button class="button button-clear btn-cgreen" ng-click="onCancelar()"> Cancelar </button>
        <h1 class="title">Nuevo partido</h1>
    </ion-header-bar>

    <ion-content>
        <ion-list >
            <ion-item class="item-divider text-center" ng-show="grupoPartido.id !== null">Grupo: {{grupoPartido.title}}</ion-item>

            <div class="ty-list-group">
                <label class="item item-input item-select">
                    <div class="input-label">Tipo</div>
                    <select ng-model="partido.tipo" ng-change="changeTipo(partido.tipo)">
                        <option value="Singles">Singles</option>
                        <option value="Dobles">Dobles</option>
                    </select>
                </label>

                <label class="item item-input item-select">
                    <div class="input-label">
                        Lugar
                    </div>
                    <select ng-model="partido.club" ng-options="club.nombre for club in clubs track by club.id">
                        <option value=""></option>
                    </select>
                </label>
            </div>

            <ion-item class="item-divider"></ion-item>

            <div class="ty-list-group">
                <label class="item new-input-date">
                    Fecha
                    <input type="date" ng-model="partido.fecha">
                    <span class="item-note">{{formatLYMD(partido.fecha)}}</span>
                </label>

                <label class="item new-input-date">
                    Empieza
                    <input type="time" ng-model="partido.horaI">
                    <span class="item-note">{{formatHHMM(partido.horaI)}}</span>
                </label>

                <label class="item new-input-date">
                    Termina
                    <input type="time" ng-model="partido.horaF">
                    <span class="item-note">{{formatHHMM(partido.horaF)}}</span>
                </label>
            </div>

            <ion-item class="item-divider"></ion-item>

            <div class="ty-list-group">

                <a class="item gamer">
                    Jugador 1
                    <span class="item-note">
                       {{partido.jugador1?partido.jugador1.name:'Invitar*>'}}
                       <input type="hidden" ng-model="partido.jugador1"/>
                    </span>
                </a>

                <a class="item gamer" ng-click="search('jugador2')">
                    Jugador 2
                    <span class="item-note">
                     {{partido.jugador2?partido.jugador2.name:'Invitar*>'}}
                        <input type="hidden" ng-model="partido.jugador2" />
                    </span>
                </a>

                <a class="item gamer" ng-click="search('jugador3')" ng-show="partido.tipo == 'Dobles' ">
                    Jugador 3
                    <span class="item-note">
                      {{partido.jugador3?partido.jugador3.name:'Invitar*>'}}
                        <input type="hidden" ng-model="partido.jugador3"/>
                    </span>
                </a>

                <a class="item gamer" ng-click="search('jugador4')" ng-show="partido.tipo == 'Dobles' ">
                    Jugador 4
                    <span class="item-note">
                      {{partido.jugador4?partido.jugador4.name:'Invitar*>'}}
                        <input type="hidden" ng-model="partido.jugador4"/>
                    </span>
                </a>
            </div>

        </ion-list>

        <div class="ty-list-group">

            <p class="notice">* De no invitar a un jugador específico el partido será publicado en forma abierta para todos los jugadores</p>

        
            <label class="custom-radio">
                <input type="radio" ng-model="partido.reservada" ng-value="false"> Reservar cancha*
                <span class="ic-radio"></span>
            </label>
            <label class="custom-radio">
                <input type="radio" ng-model="partido.reservada" ng-value="true" checked> Cancha ya reservada
                <span class="ic-radio"></span>
            </label>
            
        </div>
        <div class="btn-submit">
            <button class="button button-full" ng-click="onCreate(partido)">Crear partido</button>
        </div>

    </ion-content>
</ion-modal-view>