<ion-view title="Agregar a un partido">

    <ion-header-bar class="bar-stable">
        <a class="button  button-clear button-dark" ng-click="$ionicGoBack()"><i class="icon ion-ios-arrow-back"></i></a>
        <h1 class="title title-header">Agregar a un partido</h1>
    </ion-header-bar>

    <ion-content class="has-header">

        <div class="bar item-input-inset">
            <ion-search class="search-wrapper-light" placeholder="Nombre del jugador" min-length="1" filter="data.filter" model="data.search" source="searchJugador(str)"></ion-search>
        </div>

        <ion-list class="players-list" ng-if="!partido.grupo">

            <ion-item class="item item-avatar item-icon-right" type="item-text-wrap" ng-hide="isAdd(jugador)" ng-repeat="jugador in filterQuery(data.search, data.filter.value)| orderBy:'name'" ng-click="selected(jugador);
                    $ionicGoBack()">
                <img  err-src="assets/img/profile.png" download-task="jugador.photo" ng-src="{{jugador.photo}}">
                <h2>{{jugador.name}}</h2>
                <p>{{jugador.estado}}</p>
                <p>{{jugador.clubCancha.nombre}}</p>
            </ion-item>

        </ion-list>
        
        <ion-list class="players-list" ng-if="partido.grupo">

            <ion-item class="item item-avatar item-icon-right" type="item-text-wrap" ng-hide="isAdd(jugador)" ng-repeat="jugador in filterJugadorGrupo(data.search.jugadorgrupo, data.filter.value)| orderBy:'name'" ng-click="selected(jugador);
                    $ionicGoBack()">
                <img  err-src="assets/img/profile.png" download-task="jugador.photo" ng-src="{{jugador.photo}}">
                <h2>{{jugador.name}}</h2>
                <p>{{jugador.estado}}</p>
                <p>{{jugador.clubCancha.nombre}}</p>
            </ion-item>

        </ion-list>

    </ion-content>
</ion-view>