<ion-view title="Disponibilidad">

    <ion-nav-buttons side="right">
        <button class="button button-clear button-balanced btn-left" ng-click="data.showDelete = !data.showDelete;" > {{ data.showDelete?'Cancelar':'Editar' }} </button>
    </ion-nav-buttons>

    <ion-content>
        <ion-list show-delete="data.showDelete" ng-class="{'enable-pointer-events':data.showDelete}">
            <ion-item  ng-hide="data.showDelete" class="item balanced" ng-click="openModal()">
                Añadir disponibilidad...
            </ion-item>

            <ion-item item="item" ng-class="{'item-toggle':!data.showDelete,'active':!item.activo}" class="item item-remove-animate" ng-repeat="item in items" ng-click="data.showDelete?openModal(item):''">
                {{item.title}}
                <p>{{(item.repetir != null && item.repetir != '') ? item.repetir+' -' : ''}} {{formatFecha(item.fechaI,'h:mm')}} a {{formatFecha(item.fechaF,'h:mm')}} hs</p>
                <p>{{item.localidad}}, {{item.ciudad}}, {{item.pais}}</p>

                <label ng-hide="data.showDelete" class="toggle toggle-balanced">
                    <input type="checkbox" ng-model="item.activo" ng-change="chageActivo(item)">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>

                <ion-delete-button class="ion-minus-circled ion-remove-list" ng-click="onDelete(item)"></ion-delete-button>

            </ion-item>

        </ion-list>

    </ion-content>

</ion-view>