<ion-view title="Información" >
    <ion-content scroll="false">

        <div class="list" div-content>
            <div class="item item-text-wrap">
                <p>Aplicación movil para jugadores de tenis en el mundo Lore ipsun sit a met.Lore ipsun sit a met.
                    Lore ipsun sit a met.Lore ipsun sit a met.Lore ipsun sit a met
                </p>
                <br/>
                <p>Lore ipsun sit a met.Lore ipsun sit a met.Lore ipsun sit a met.Lore ipsun sit a met</p>
                <br/>
                <p>2015-Todos los derechos reservados</p>
            </div>
            <!-- <div class="item item-image fondo-info" >

            </div> -->
        </div>
        <div class="info_logo"></div>

    </ion-content>
</ion-view>