<ion-modal-view>

    <ion-header-bar class="bar-stable">
        <button class="button button-clear button-balanced button-small-header" ng-click="closeModal()"> Cancelar </button>
        <h1 class="title title-header">Añadir disponibilidad</h1>
        <button class="button button-clear button-balanced button-small-header" ng-click="onGuardar()"> Guardar</button>
    </ion-header-bar>

    <ion-content>

        <ion-list >

            <label class="item item-input">
                <input type="text" placeholder="Titulo referencia" ng-model="disponibilidad.title">
            </label>

            <div class="item item-divider">Zona</div>

            <label class="item item-input item-select">
                <div class="input-label">
                    Pais
                </div>
                <select ng-model="disponibilidad.pais" ng-options="pais for pais in ['Uruguay','Argentina','Brazil']">
                    <option value=""> Seleccionar </option>
                </select>
            </label>

            <label class="item item-input">
                <input type="text" placeholder="Ciudad"  ng-model="disponibilidad.ciudad">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Localidad"  ng-model="disponibilidad.localidad">
            </label>

            <label class="item item-input item-select">
                <div class="input-label">
                    Club/Cancha
                </div>
                <select ng-model="disponibilidad.club" ng-options="club.nombre for club in clubs track by club.id">
                    <option value=""> Seleccionar </option>
                </select>
            </label>

            <div class="item item-divider">Fechas, dias y horarios</div>

            <label class="item item-input">
                Fecha de Comienzo
                <input type="date" ng-model="disponibilidad.fechaI" class="new-input-date">
                <span class="item-note">{{formatYMD(disponibilidad.fechaI)}}</span>
            </label>

            <label class="item item-input">
                Fecha de Fin
                <input type="date" ng-model="disponibilidad.fechaF" class="new-input-date">
                <span class="item-note">{{formatYMD(disponibilidad.fechaF)}}</span>
            </label>
            <label class="item item-input">
                Hora de Comienzo
                <input type="time" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]" ng-model="disponibilidad.horaI" class="new-input-date">
                <span class="item-note">{{formatHHMM(disponibilidad.horaI)}}</span>
            </label>
            <label class="item item-input">
                Hora de Fin
                <input type="time" ng-model="disponibilidad.horaF" class="new-input-date">
                <span class="item-note">{{formatHHMM(disponibilidad.horaF)}}</span>
            </label>

            <a class="item" href="#">
                Repetir
                <span class="item-note">
                  Nunca <i class="icon ion-chevron-right icon-accessory"></i>
                </span>
            </a>

            <div class="item item-divider"></div>

            <ion-item class="item item-toggle" >
               CONFIRMACIÓN AUTOMATICA
                <label class="toggle toggle-balanced">
                    <input type="checkbox" ng-model="disponibilidad.autoConfirm">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </ion-item>

        </ion-list>
    </ion-content>
</ion-modal-view>