<ion-modal-view>

    <ion-header-bar class="bar-stable">
        <button class="button button-clear btn-left" ng-click="closeModal()"> Cancelar </button>
        <h1 class="title title-header">Añadir disponibilidad</h1>
        <button class="button button-clear btn-left" ng-click="onGuardar()"> Guardar</button>
    </ion-header-bar>

    <ion-content>

        <ion-list class="availability-form ty-list">

            <label class="item item-input">
                <input type="text" placeholder="Titulo referencia" ng-model="disponibilidad.title">
            </label>

            <div class="item item-divider">Zona</div>

            <label class="item item-input item-select">
                <div class="input-label">
                    Pais
                </div>
                <select ng-model="disponibilidad.pais" ng-options="pais for pais in ['Uruguay','Argentina','Brazil']">
                    <option value=""> </option>
                </select>
            </label>

            <label class="item item-input item-select">
                <div class="input-label">
                    Ciudad
                </div>
                <select ng-model="disponibilidad.ciudad" ng-options="ciudad for ciudad in ['Montevideo','MaldonadoN','Rivera','Minas']">
                    <option value=""> </option>
                </select>
            </label>

            <label class="item item-input item-select">
                <div class="input-label">
                    Localidad
                </div>
                <select ng-model="disponibilidad.localidad" ng-options="localidad for localidad in ['Carrasco','Canelones‎','Cerros Azules','Arenas de José Ignacio']">
                    <option value=""> </option>
                </select>
            </label>

            <!--<label class="item item-input">-->
                <!--<input type="text" placeholder="Ciudad"  ng-model="disponibilidad.ciudad">-->
            <!--</label>-->
            <!--<label class="item item-input">-->
                <!--<input type="text" placeholder="Localidad"  ng-model="disponibilidad.localidad">-->
            <!--</label>-->

            <label class="item item-input item-select">
                <div class="input-label">
                    Club/Cancha
                </div>
                <select ng-model="disponibilidad.clubCancha" ng-options="club.id as club.nombre for club in clubs track by club.id">
                    <option value=""> </option>
                </select>
            </label>

            <div class="item item-divider">Fechas, dias y horarios</div>

            <!--<label class="item new-input-date">-->
                <!--Fecha de Comienzo-->
                <!--<input type="date" ng-model="disponibilidad.fechaI">-->
                <!--<span class="item-note">{{formatYMD(disponibilidad.fechaI)}}</span>-->
            <!--</label>-->

            <label class="item new-input-date">
                Fecha de Fin
                <input type="date" ng-model="disponibilidad.fechaF">
                <span class="item-note">{{formatYMD(disponibilidad.fechaF)}}</span>
            </label>

            <label class="item new-input-date">
                Hora de Comienzo
                <input type="time" ng-model="disponibilidad.fechaI" >
                <span class="item-note">{{formatHHMM(disponibilidad.fechaI)}}</span>
            </label>
            <label class="item new-input-date">
                Hora de Fin
                <input type="time" ng-model="disponibilidad.fechaF">
                <span class="item-note">{{formatHHMM(disponibilidad.fechaF)}}</span>
            </label>

            <a class="item" href="#" ng-click="actionSheet()">
                Repetir
                <span class="item-note">
                  {{disponibilidad.repetir}} <i class="icon ion-chevron-right icon-accessory"></i>
                </span>
            </a>

            <div class="item item-divider"></div>

            <ion-item class="item item-toggle" >
               CONFIRMACIÓN AUTOMATICA
                <label class="toggle toggle-balanced">
                    <input type="checkbox" ng-model="disponibilidad.autoConfirm">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </ion-item>

        </ion-list>
    </ion-content>
</ion-modal-view>