<ion-view title="Perfil" hide-back-button="true">

    <ion-nav-buttons side="left">
        <button class="button button-clear btn-left" ng-click="onCancelar()"> Cancelar </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <button class="button button-clear btn-right" ng-click="onGuardar(profile)"> Guardar</button>
    </ion-nav-buttons>

    <ion-content>
        <div class="profile">
            <ion-list >
                <label class="item item-input item-icon-right">
                    <input class="profile_field" type="text" placeholder="Nombre Completo" ng-model="profile.name">
                    <i class="icon ion-edit icon-accessory"></i>
                </label>
                <label class="item item-input item-icon-right">
                    <input class="profile_field" type="text" placeholder="Estado" ng-model="profile.estado">
                    <i class="icon ion-edit icon-accessory"></i>
                </label>
                <label class="item item-input item-icon-right">
                    <input class="profile_field" type="text" placeholder="Email" ng-model="profile.email">
                    <i class="icon ion-edit icon-accessory"></i>
                </label>
                <label class="item item-input item-icon-right">
                    <input class="profile_field" type="text" placeholder="Celular" ng-model="profile.celular">
                    <i class="icon ion-edit icon-accessory"></i>
                </label>
                <label class="item item-input item-icon-right">
                    <select class="profile_select" ng-model="profile.clubCancha" ng-options="club.id as club.nombre for club in clubs track by club.id">
                        <option value="">Cancha de preferencia</option>
                    </select>
                    <i class="icon ion-edit icon-accessory"></i>
                </label>
                <!--<label class="item item-input item-select">-->
                    <!--<div class="input-label">-->
                        <!--Pais-->
                    <!--</div>-->
                    <!--<select ng-model="disponibilidad.pais" ng-options="pais for pais in ['Uruguay','Argentina','Brazil']">-->
                        <!--<option value=""> Seleccionar </option>-->
                    <!--</select>-->
                <!--</label>-->
                <label class="item item-input item-icon-right">
                    <span class="input-label">Rating</span>
                    <input type="text" ng-model="profile.rating">
                    <i class="icon ion-edit icon-accessory"></i>
                </label>

                <div class="item item-body">
                    <figure class="profile_avatar" ng-click="loadPhoto()">
                        <img ng-src="{{profile.photo?profile.photo:'../www/assets/img/thumb_profile.png'}}">
                    </figure>
                    <p class="no-margin profile_txt">Cambiar imagen de perfil</p>
                </div>

            </ion-list>
        </div>
    </ion-content>
</ion-view>