<ion-view title="Ajustes">
    <ion-content>
        <ion-list>
            <ion-item ng-href="#/tab/disponibilidad/{{id}}" class="item-icon-right">
                Visibilidad y Disponibilidad
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-item class="item item-divider"></ion-item>
            <ion-item href="#/tab/profile" class="item-icon-right">
                Perfil
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-item class="item item-divider"></ion-item>
            <ion-item href="#/tab/share" class="item-icon-right">
                Contarle a un amigo
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-item href="#/tab/info" class="item-icon-right">
                Información
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-item class="item item-divider"></ion-item>
            <ion-item  class="item assertive text-center" ng-click="onCerrarSesion()">
                Salir
            </ion-item>
            <ion-item class="item item-divider"></ion-item>

        </ion-list>
    </ion-content>
</ion-view>