/* inicio Input para fecha y hora newPartido*/
.new-input-date{
    padding: 6px 16px 5px 16px;
}
.new-input-date input{
    position: absolute;
    width: 100%;
    height: 100%;
    color: transparent !important;
    top: 0;
    left: 0;
    padding: 0 !important;
    background-color: transparent;
}
/* fin Input para fecha y hora newPartido*/

/* inicio imagen inferior con logo*/
.fondo-info {
    background: url("../img/info.png") no-repeat;
    background-size: 55%;
    background-position: center;
}
/* fin imagen inferior con logo*/

/* inicio pantalla contarle a un amigo botones redes sociales*/
.share{
    width: 61px;
    height: 65px;
    max-height: 65px;
    background-image: url('../img/share.png') !important;
    background-size: auto 100% !important;
    background-repeat: no-repeat !important;
}

.share-facebook{
    background-position: -180px center !important;
}
.share-twitter{
    background-position: -120px center !important;
}
.share-mail{
    background-position: -60px center !important;
}
.share-message{
    background-position: 0 center !important;
}
/* fin pantalla contarle a un amigo botones redes sociales*/