.new-input-date{
   color: transparent !important;
}

.fondo-info {
    background: url("../img/info.png") no-repeat;
    background-size: 55%;
    background-position: center;
}

.bar .buttons-right span .button, .bar button.button-clear.button-small-header{
    font-size: 12px;
}

.bar.bar-stable .title.title-header{
    margin-left: 5px;
    margin-right: 5px;
}

.share{
    width: 61px;
    height: 65px;
    max-height: 65px;
    background-image: url('../img/share.png') !important;
    background-size: auto 100% !important;
    background-repeat: no-repeat !important;
}

.share-facebook{
    background-position: -180px center !important;
}
.share-twitter{
    background-position: -120px center !important;
}
.share-mail{
    background-position: -60px center !important;
}
.share-message{
    background-position: 0 center !important;
}

.divider-partidos{
    padding: 5px;
    font-size: 14px;
    padding-left: 10px;
    font-weight: bold;
}