/* Empty. Add your own CSS if you like */

/* fonts*/
@font-face {
    font-family: 'roboto_condensedlight';
    src: url('fonts/robotocondensed-light-webfont.eot');
    src: url('fonts/robotocondensed-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/robotocondensed-light-webfont.woff2') format('woff2'),
    url('fonts/robotocondensed-light-webfont.woff') format('woff'),
    url('fonts/robotocondensed-light-webfont.ttf') format('truetype'),
    url('fonts/robotocondensed-light-webfont.svg#roboto_condensedlight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto_condensedregular';
    src: url('fonts/robotocondensed-regular-webfont.eot');
    src: url('fonts/robotocondensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/robotocondensed-regular-webfont.woff2') format('woff2'),
    url('fonts/robotocondensed-regular-webfont.woff') format('woff'),
    url('fonts/robotocondensed-regular-webfont.ttf') format('truetype'),
    url('fonts/robotocondensed-regular-webfont.svg#roboto_condensedlight') format('svg');
    font-weight: normal;
    font-style: normal;
}
.no-padding{
    padding: 0!important;
}
.no-margin{
    margin: 0 !important;
}
.no-border{
    border-width: 0;
}
.background-transparent{
    background-color: transparent !important;
}
/*.back-text{*/
    /*display: none !important;*/
/*}*/
/*view login*/
.header-login{
    font-family: 'roboto_condensedregular';
    font-size: 19.34px !important;
}
.fondo-login{
    background: url('../img/fondo-login.png') no-repeat;
    background-size: 100% 100%;
}
.thumb-login{
    max-height: 75px;
}
.color-facebook,.color-twitter,.color-google,.color-register,.color-normal,
.color-facebook:hover,.color-twitter:hover,.color-google:hover,.color-register:hover{
    color: #fff;
    font-family: "roboto_condensedlight";
    font-size: 19.64px;
}
.color-register,.color-register:hover{
    font-size: 22.31px;
}

.color-facebook,.color-facebook.active,.color-facebook.activated{
    background-color: #336699;
    border-color: rgba(51, 102, 153,0.85);

    background-image: url('../img/facebook.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 12px;
    text-align: left;
    padding-left: 71px;
}
.color-facebook.active,.color-facebook.activated{
    background-color: rgba(51, 102, 153,0.85);
}

.color-twitter,.color-twitter.activated,.color-twitter.activated{
    background-color: #6699cc;
    border-color: rgba(102, 153, 204,0.85);

    background-image: url('../img/twitter.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 13px;
    text-align: left;
    padding-left: 71px;
}
.color-twitter.active,.color-twitter.activated{
    background-color: rgba(102, 153, 204,0.85);
}

.color-google,.color-google.activated,.color-google.activated{
    background-color: #ff3333;
    border-color: rgba(255, 51, 51,0.85);

    background-image: url('../img/google.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 10px;
    text-align: left;
    padding-left: 71px;
}
.color-google.active,.color-google.activated{
    background-color: rgba(255, 51, 51,0.85);
}

.color-register,.color-register.activated,.color-register.activated{
    background-color: rgba(0, 0, 0, 0.62);
    border: solid 1px  rgba(255, 255, 255, 0.62);
}
.color-register.active,.color-register.activated{
    background-color: rgba(0, 0, 0, 0.82);
}

.input-login{
    padding-left: 42px;
    padding-right: 42px;
}
.input-login > .item-input:before{
    content: "";
    background: rgb(221, 221, 221);
    bottom: 0;
    display: inline-block;
    height: 6px;
    left: 0;
    position: absolute;
    vertical-align: bottom;
    width: 2px;
    z-index: 2;
}
.input-login > .item-input:after{
    content: "";
    background: rgb(221, 221, 221);
    bottom: 0;
    display: inline-block;
    height: 6px;
    position: absolute;
    right: 0;
    vertical-align: bottom;
    width: 2px;
    z-index: 2;
}

.border-input{
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
}
.border-input input{
    color: #fff;
    font-family: "roboto_condensedlight";
    font-size: 22.31px;
}

.ion-jugadores {
    background-image: url("../img/players.png");
    background-size: 39%;
    background-repeat: no-repeat;
    background-position: center 9px;
}
.ion-newpartido {
    background-image: url("../img/newpartido.png");
    background-size: 39%;
    background-repeat: no-repeat;
    background-position: center 7px;
}
.ion-partidos {
    background-image: url("../img/partidos.png");
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center 7px;
}
.ion-ajustes {
    background-image: url("../img/ajustes.png");
    background-size: 39%;
    background-repeat: no-repeat;
    background-position: center 8px;
}

.subheader-tittle{
    color: #33cd5f !important;
    font-size: 13px !important;
    font-family: "roboto_condensedregular";
}
.ion-remove-list:before{
    font-size: 25px !important;
}