/* Empty. Add your own CSS if you like */
/* fonts*/
@font-face {
  font-family: "roboto-regular";
  src: url("fonts/roboto-regular.eot");
  src: url("fonts/roboto-regular.eot?#iefix") format("embedded-opentype"), url("fonts/roboto-regular.woff") format("woff"), url("fonts/roboto-regular.ttf") format("truetype"), url("fonts/roboto-regular.svg#roboto-regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "roboto-medium";
  src: url("fonts/roboto-medium.eot");
  src: url("fonts/roboto-medium.eot?#iefix") format("embedded-opentype"), url("fonts/roboto-medium.woff") format("woff"), url("fonts/roboto-medium.ttf") format("truetype"), url("fonts/roboto-medium.svg#roboto-medium") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "roboto-bold";
  src: url("fonts/roboto-bold.eot");
  src: url("fonts/roboto-bold.eot?#iefix") format("embedded-opentype"), url("fonts/roboto-bold.woff") format("woff"), url("fonts/roboto-bold.ttf") format("truetype"), url("fonts/roboto-bold.svg#roboto-bold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "roboto-italic";
  src: url("fonts/roboto-italic.eot");
  src: url("fonts/roboto-italic.eot?#iefix") format("embedded-opentype"), url("fonts/roboto-italic.woff") format("woff"), url("fonts/roboto-italic.ttf") format("truetype"), url("fonts/roboto-italic.svg#roboto-italic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "roboto-light";
  src: url("fonts/roboto-light.eot");
  src: url("fonts/roboto-light.eot?#iefix") format("embedded-opentype"), url("fonts/roboto-light.woff") format("woff"), url("fonts/roboto-light.ttf") format("truetype"), url("fonts/roboto-light.svg#roboto-light") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "roboto-condensed-light";
  src: url("fonts/roboto-condensed-light.eot");
  src: url("fonts/roboto-condensed-light.eot?#iefix") format("embedded-opentype"), url("fonts/roboto-condensed-light.woff") format("woff"), url("fonts/roboto-condensed-light.ttf") format("truetype"), url("fonts/roboto-condensed-light.svg#roboto-condensed-light") format("svg");
  font-weight: normal;
  font-style: normal; }
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: "roboto-regular";
  color: #000; }

button, input, select, textarea {
  font-family: "roboto-regular";
  color: #000; }

[class^="ic-"]:after, [class*=" ic-"]:after {
  background-image: url("../img/icons.png");
  background-repeat: no-repeat;
  background-size: 320px;
  content: "";
  vertical-align: middle; }

.ic-players:after {
  display: inline-block;
  background-position: 0 0;
  height: 19px;
  width: 25px; }

.ic-newmatch:after {
  display: inline-block;
  background-position: -29.5px 0;
  height: 20.5px;
  width: 26px; }

.ic-matches:after {
  display: inline-block;
  background-position: -59px 0;
  height: 24.5px;
  width: 24.5px; }

.ic-settings:after {
  display: inline-block;
  background-position: -88.5px 0;
  height: 20px;
  width: 20px; }

.ic-search:after {
  display: inline-block;
  background-position: -112.5px 0;
  height: 20px;
  width: 20px;
  vertical-align: top; }

.ic-arrow-right:after {
  display: inline-block;
  background-position: -137px 0;
  height: 17px;
  width: 10px; }

.ic-double-check:after {
  display: inline-block;
  background-position: -151.5px 0;
  height: 14px;
  width: 17.5px; }

.ic-star:after {
  display: inline-block;
  background-position: -194.5px 0;
  height: 13px;
  width: 14px; }

.ic-plus:after {
  display: inline-block;
  background-position: -174px 0;
  height: 16.5px;
  width: 16px; }

.ic-check:after {
  display: inline-block;
  background-position: -212px 0;
  height: 11px;
  width: 11px; }

.ic-edit:after {
  display: inline-block;
  background-position: -228.5px 0;
  height: 16px;
  width: 18.5px; }

.ic-arrow-left:after {
  display: inline-block;
  background-position: -251.5px 0;
  height: 16.5px;
  width: 9px; }

.clear-select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  background-color: transparent; }

.btn-cgreen {
  color: #289735 !important; }

.bar .buttons-left span .button {
  font-size: 12px; }

.no-padding {
  padding: 0 !important; }

.no-margin {
  margin: 0 !important; }

.no-border {
  border-width: 0; }

.background-transparent {
  background-color: transparent !important; }

/*view login*/
.header-login {
  font-family: 'roboto_condensedregular';
  font-size: 19.34px !important; }

.fondo-login {
  background: url("../img/fondo-login.png") no-repeat;
  background-size: 100% 100%; }

.thumb-login {
  max-height: 75px; }

.subheader-tittle {
  color: #33cd5f !important;
  font-size: 13px !important;
  font-family: "roboto_condensedregular"; }

.ion-remove-list:before {
  font-size: 25px !important; }

.button-green {
  color: #0d8a1b !important; }

.button-logout {
  background-color: #ef473a;
  color: #fff;
  width: 100%; }

.button-logout-2 {
  background-color: #fff;
  color: #ef473a;
  width: 100%;
  border-right: 0;
  border-left: 0; }

.ty-list .item {
  font-size: 14px;
  font-family: "roboto-regular";
  color: #020202;
  font-size: 14px;
  padding: 10px 12px 10px 33px; }
.ty-list .item-input {
  padding: 7px 0 7px 33px; }
.ty-list .item-complex .item-content,
.ty-list .item-radio .item-content {
  padding: 12px 12px 12px 33px; }
.ty-list .item-divider {
  font-family: "roboto-bold";
  color: #0f0f0f;
  font-size: 11px;
  padding: 0 12px;
  min-height: 23px; }
.ty-list .input-label {
  font-family: "roboto-regular";
  color: #020202;
  font-size: 14px;
  padding: 3px 10px 3px 0px; }
.ty-list .item-complex,
.ty-list a.item.item-complex,
.ty-list button.item.item-complex {
  padding: 0; }

.ty-list-group {
  padding-left: 28px; }
  .ty-list-group .item {
    border-left: 0;
    padding: 12px 12px 12px 6px; }
  .ty-list-group .item-input {
    padding: 7px 0 7px 6px; }
  .ty-list-group .input-label {
    padding: 1px 10px 1px 0px; }
  .ty-list-group .item-complex .item-content,
  .ty-list-group .item-radio .item-content {
    padding: 12px 12px 12px 6px;
    padding: 0; }

.item-text {
  white-space: inherit; }
.item-cont {
  padding: 6px 15px 5px 16px; }

.item-divider {
  min-height: 22px; }

.placeholder-icon:first-child {
  font-size: 24px; }

.ty-orderby {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  background-color: transparent;
  background-color: #e0e0e0;
  font-family: "roboto-bold";
  color: #403f3f;
  font-size: 12px;
  position: absolute;
  padding: 1px 9px 2px;
  border-radius: 0;
  right: 0;
  bottom: 0; }

.share {
  width: 61px;
  height: 65px;
  max-height: 65px;
  background-image: url("../img/share.png") !important;
  background-size: auto 100% !important;
  background-repeat: no-repeat !important; }
  .share-facebook {
    background-position: -180px center !important; }
  .share-mail {
    background-position: -60px center !important; }
  .share-whatsapp {
    background-position: 0 center !important; }

.bar.bar-stable .title {
  font-family: "roboto-regular";
  color: rgba(63, 64, 63, 0.87);
  font-size: 17px; }

.bar.bar-stable .btn-left {
  font-family: "roboto-regular";
  color: #289735;
  font-size: 12px; }
.bar.bar-stable .btn-right {
  font-family: "roboto-regular";
  color: #289735;
  font-size: 12px; }

.availability-form .item-toggle {
  font-family: "roboto-regular";
  color: #000;
  font-size: 14px; }

.profile {
  padding: 0 15px; }
  .profile .list .item {
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
    padding: 6px 0 5px 10px; }
    .profile .list .item:first-child {
      border-top: 0; }
  .profile_select {
    font-family: "roboto-regular";
    color: #000;
    font-size: 14px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: 0;
    background-color: transparent;
    height: 34px; }
  .profile_field {
    font-family: "roboto-regular";
    color: #000;
    font-size: 14px;
    line-height: 1; }
/*    .profile_field::-webkit-input-placeholder {
      color: #000; }
    .profile_field:-moz-placeholder {
      color: #000; }
    .profile_field:-ms-input-placeholder {
      color: #000; }*/
  .profile_avatar {
    border: 1px solid #8e8e8e;
    overflow: hidden;
    height: 150px;
    width: 150px; }
    .profile_avatar img {
      width: 100%; }
  .profile_txt {
    font-family: "roboto-regular";
    color: #020202;
    font-size: 12px; }

.tabs-menu > .tabs {
  border-color: #8d8e8d;
  background-color: #eaeaea;
  height: 46px; }
  .tabs-menu > .tabs .tab-item {
    padding: 5px 0;
    opacity: 1; }
    .tabs-menu > .tabs .tab-item .tab-title {
      font-size: 9px; }
    .tabs-menu > .tabs .tab-item .icon {
      height: 22px; }
    .tabs-menu > .tabs .tab-item [class^="ic-"], .tabs-menu > .tabs .tab-item [class*=" ic-"] {
      position: relative; }
      .tabs-menu > .tabs .tab-item [class^="ic-"]:after, .tabs-menu > .tabs .tab-item [class*=" ic-"]:after {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); }
    .tabs-menu > .tabs .tab-item-active .ic-players:after,
    .tabs-menu > .tabs .tab-item-active .ic-newmatch:after,
    .tabs-menu > .tabs .tab-item-active .ic-matches:after,
    .tabs-menu > .tabs .tab-item-active .ic-settings:after {
      background-position-y: -30px; }
    .tabs-menu > .tabs .tab-item-active .tab-title {
      color: #289735; }

.bar-subheader .title {
  /* height: 28px;
  line-height: 29px; */ }
.bar-subheader .button {
  font-size: 16px !important;
  line-height: 1.1;
  /* min-height: 28px;
  line-height: 29px; */ }

.sign-in_submit {
  background-color: #58ab43;
  border: 0;
  font-family: "roboto-condensed-light";
  color: #fff;
  font-size: 19px; }
  .sign-in_submit:hover, .sign-in_submit.activated, .sign-in_submit:active {
    color: #fff;
    background-color: rgba(88, 171, 67, 0.7); }
.sign-in_forget {
  font-family: "roboto-condensed-light";
  color: #fff;
  font-size: 13px;
  text-decoration: none; }
.sign-in_cright {
  text-align: right;
  margin-bottom: 15px;
  padding-right: 42px; }

.login-fields {
  padding: 0 42px;
  margin-bottom: 12px; }
  .login-fields .login-fields_label {
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    padding: 0 10px;
    margin-bottom: 21px; }
    .login-fields .login-fields_label:last-child {
      margin-bottom: 10px; }
    .login-fields .login-fields_label:after {
      content: "";
      background: #dddddd;
      bottom: 0;
      display: inline-block;
      height: 6px;
      position: absolute;
      right: 0;
      vertical-align: bottom;
      width: 1px;
      z-index: 2; }
    .login-fields .login-fields_label:before {
      content: "";
      background: #dddddd;
      bottom: 0;
      display: inline-block;
      height: 6px;
      left: 0;
      position: absolute;
      vertical-align: bottom;
      width: 1px;
      z-index: 2; }
  .login-fields .login-fields_field {
    font-family: "roboto-condensed-light";
    color: #fff;
    font-size: 21px;
    line-height: 1;
    padding-right: 0; }
    .login-fields .login-fields_field::-webkit-input-placeholder {
      color: #fff; }
    .login-fields .login-fields_field:-moz-placeholder {
      color: #fff; }
    .login-fields .login-fields_field:-ms-input-placeholder {
      color: #fff; }
  .login-fields .login-fields_select {
    font-family: "roboto-condensed-light";
    color: #fff;
    font-size: 21px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: 0;
    background-color: transparent; }

.btn-social {
  font-family: "roboto-condensed-light";
  color: #fff;
  font-size: 19px;
  min-height: 48px; }
  .btn-social:hover {
    color: #fff; }
  .btn-social-facebook {
    background-color: #336699;
    background-image: url("../img/facebook.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 12px;
    text-align: left;
    padding-left: 71px; }
    .btn-social-facebook:hover, .btn-social-facebook.activated, .btn-social-facebook:active {
      background-color: rgba(51, 102, 153, 0.85); }
  .btn-social-twitter {
    background-color: #6699cc;
    border-color: rgba(102, 153, 204, 0.85);
    background-image: url("../img/linkedin.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 13px;
    text-align: left;
    padding-left: 71px; }
    .btn-social-twitter:hover, .btn-social-twitter.activated, .btn-social-twitter:active {
      background-color: rgba(102, 153, 204, 0.85); }
  .btn-social-linkedin {
    background-color: #0077B5;
    border-color: rgba(102, 153, 204, 0.85);
    background-image: url("../img/linkedin.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 13px;
    text-align: left;
    padding-left: 71px; }
    .btn-social-linkedin:hover, .btn-social-linkedin.activated, .btn-social-linkedin:active {
      background-color: rgba(102, 153, 204, 0.85); }
  .btn-social-google {
    background-color: #ff3333;
    border-color: rgba(255, 51, 51, 0.85);
    background-image: url("../img/google.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 10px;
    text-align: left;
    padding-left: 71px; }
    .btn-social-google:hover, .btn-social-google.activated, .btn-social-google:active {
      background-color: rgba(255, 51, 51, 0.85); }

.btn-register {
  font-family: "roboto-condensed-light";
  color: #fff;
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0.62);
  border: solid 1px rgba(255, 255, 255, 0.62); }
  .btn-register:hover {
    color: #fff; }
  .btn-register.activated, .btn-register:active {
    background-color: rgba(0, 0, 0, 0.92); }

.players-list .item {
  border-color: #e0e0e0; }
  .players-list .item h2 {
    color: #020202;
    font-size: 16px;
    line-height: 1.1;
    opacity: .8; }
  .players-list .item p {
    color: #000000;
    font-size: 14px;
    line-height: 1.2;
    opacity: .5; }
  .players-list .item .item-content.activated .icon {
    color: #fff; }
.players-list .item-icon-right .icon {
  color: #d0d0d0;
  font-size: 24px;
  right: 5px; }

.new-match .notice {
  color: #686a68;
  font-size: 11px;
  line-height: 12px;
  padding: 6px 30px 6px 0; }
.new-match .custom-radio {
  font-size: 13px;
  display: block;
  margin: 0 0 10px;
  padding: 0px 30px 0px 26px;
  position: relative; }
  .new-match .custom-radio .ic-radio {
    background: transparent url("../img/icons.png") right top no-repeat;
    background-size: 320px auto;
    display: block;
    height: 17px;
    width: 16px;
    left: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
  .new-match .custom-radio input[type="radio"] {
    display: none; }
    .new-match .custom-radio input[type="radio"]:checked ~ .ic-radio {
      background-position: right -18px; }
.new-match .btn-submit {
  padding: 5px 7px; }
  .new-match .btn-submit .button {
    background: #426c3a;
    border: 0;
    font-family: "roboto-light";
    color: #fff;
    font-size: 25px;
    margin: 0; }

.new-match-list .item {
  padding: 6px 12px 6px 19px;
  font-size: 13px; }
  .new-match-list .item .row {
    padding: 0; }
    .new-match-list .item .row .col-50:nth-child(2) {
      text-align: right; }
.new-match-list .item-divider {
  padding: 0;
  min-height: 23px; }
.new-match-list .gamer .row {
  padding: 0; }
  .new-match-list .gamer .row .col-50:nth-child(2) {
    opacity: .5; }
.new-match-list .input-label {
  font-size: 13px;
  padding: 0 10px 0 0; }
.new-match-list .select-custom {
  background: transparent url("../img/select.png") left top no-repeat;
  background-size: 93px;
  font-size: 11px;
  text-align: left;
  direction: ltr;
  width: 93px;
  height: 19px;
  margin-right: 6px;
  padding: 0 27px 0 5px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10; }

.btns-submit {
  overflow: hidden;
  padding: 5px; }
  .btns-submit .button {
    font-family: "roboto-light";
    color: #fff;
    font-size: 23px;
    border: 0;
    border-radius: 0;
    float: left;
    width: 50%; }
    .btns-submit .button:first-child {
      box-shadow: inset -1px 0px 0px 0px white; }
  .btns-submit .btn-confirm {
    background: #426c3a; }
  .btns-submit .btn-cancel {
    background: #909390; }

.match-buttons {
  overflow: hidden;
  padding: 5px 0 0;
  margin-right: -5px;
  margin-left: -5px; }
  .match-buttons .button {
    font-family: "roboto-regular";
    color: #fff;
    font-size: 12px;
    border: 0;
    border-radius: 0;
    float: left;
    text-transform: uppercase;
    width: 49%;
    min-height: 27px;
    line-height: 27px; }
    .match-buttons .button:first-child {
      box-shadow: inset -1px 0px 0px 0px white; }
    .match-buttons .button:last-child {
      float: right; }
  .match-buttons .btn-confirm {
    background: #426c3a; }
  .match-buttons .btn-cancel {
    background: #909390; }

.tabs-striped.tabs-background-light .tabs {
  border-bottom: 1px solid #e0e0e0; }

.tabs-top.tabs-striped .tab-item {
  font-family: "roboto-regular";
  color: #1a1a1a;
  font-size: 12px;
  background-color: #e0e0e0; }
  .tabs-top.tabs-striped .tab-item.tab-item-active {
    background-color: #fff;
    margin-top: 0;
    border-top: 1px solid #e0e0e0 !important;
    border-bottom: 0 !important; }

.game .tabs {
  height: 35px;
  line-height: 35px; }

.platform-ios.platform-cordova:not(.fullscreen) .has-header.has-tabs-top {
  top: 98px; }

.match {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; }
  .match_detail {
    font-family: "roboto-regular";
    color: #020202;
    font-size: 13px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 140px;
        -ms-flex: 0 0 140px;
            flex: 0 0 140px;
    overflow: hidden; }
  .match_date, .match_place {
    font-family: "roboto-regular";
    color: #020202;
    font-size: 12px;
    display: block;
    line-height: 1.3;
    opacity: .8;
    white-space: pre-wrap; }
    .match_date-confirm:after, .match_place-confirm:after {
      content: "";
      background-image: url("../img/icons.png");
      background-repeat: no-repeat;
      background-size: 320px;
      display: inline-block;
      background-position: -151.5px 0;
      height: 14px;
      width: 19px;
      vertical-align: middle;
      margin-left: 2px; }
    .match_date-pending:after, .match_place-pending:after {
      content: "Pendiente";
      font-family: "roboto-bold";
      color: #ff2400;
      font-size: 8px;
      vertical-align: middle;
      margin-left: 2px; }
  .match_time {
    font-family: "roboto-regular";
    color: #408337;
    font-size: 11px;
    display: block;
    line-height: 13px; }
  .match_players {
    width: 100%; }
  .match_orderby-label {
    font-family: 'roboto-bold';
    line-height: 24px;
    float: right; }
    .match_orderby-label:after {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 8px 4.5px 0 4.5px;
      border-color: #000000 transparent transparent transparent; }
  .match_orderby-checkbox {
    display: none; }
    .match_orderby-checkbox:checked + .match_orderby-list {
      display: block; }
  .match_orderby-list {
    background-color: #e0e0e0;
    padding: 0 0 0 5px;
/*    position: absolute;
    z-index: 100;
    right: 0;
    top: 100%;*/
    /*display: none;*/}
    .match_orderby-list li {
      border-bottom: 1px solid #fff; }
      .match_orderby-list li:last-child {
        border-bottom: 0; }
      .match_orderby-list li label {
        font-family: "roboto-regular";
        color: #403f3f;
        font-size: 11px;
        line-height: 1.3;
        display: block;
        text-decoration: none;
        padding: 5px 29px 5px 10px; }
      .match_orderby-list li input[type="radio"] {
        display: none; }
        .match_orderby-list li input[type="radio"]:checked + label {
          background: transparent url("../img/checked.png") right center no-repeat;
          background-size: 21px; }

.list-matches .item .item-content {
  padding: 10px; }
.list-matches .item-divider {
  background-color: #fff;
  font-family: "roboto-bold";
  color: #403f3f;
  font-size: 12px;
  padding: 0px 10px;
  height: 25px;
  overflow: initial;
  z-index: inherit; }

.grayscale {
  -webkit-filter: grayscale(1);
          filter: grayscale(1); }

.match-players {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .match-players_item {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center; }
  .match-players_img {
    height: auto;
    width: 100%;
    position: relative;
    z-index: 2; }
    .match-players_img-grayscale {
      -webkit-filter: grayscale(100%);
              filter: grayscale(100%); }
  .match-players_link {
    background-color: #858383;
    border-radius: 100%;
    display: inline-block;
    height: 36px;
    overflow: hidden;
    width: 36px;
    position: relative;
    margin-right: 6px; }
  .match-players_icon {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
    .match-players_icon:after {
      display: block; }

.info_logo {
  background: url("../img/info.png") no-repeat;
  background-size: 100%;
  background-position: center;
  height: 212px;
  width: 200px;
  max-width: 100%;
  position: absolute;
  bottom: 0;
  margin-bottom: 30px;
  left: 50%;
  margin-left: -100px; }

.item-playerinfo {
  min-height: 95px;
  padding-left: 95px; }
  .item-playerinfo img:first-child {
    max-height: 71px;
    max-width: 71px; }
  .item-playerinfo p {
    line-height: 1.2;
    margin-bottom: 0; }
  .item-playerinfo strong {
    font-family: "roboto-bold";
    color: #020202;
    font-size: 13px; }

.ty-calendar_title {
  color: #149d03;
  font-size: 14px;
  line-height: 1.2;
  font-weight: bold;
  margin: 0;
  padding: 7px 18px; }
.ty-calendar_match {
  background-color: #e0e1ff;
  border-left: 2px solid #9a9cff;
  color: #2f9f21;
  font-size: 12px;
  font-weight: bold;
  height: 40px;
  width: 100%;
  position: absolute;
  z-index: 100;
  display: table;
  text-align: center; }
  .ty-calendar_match span {
    display: table-cell;
    vertical-align: middle; }
.ty-calendar_hour .item {
  color: #9d9d9d;
  font-size: 12px;
  border: 0;
  height: 40px;
  text-align: center;
  padding: 0;
  line-height: 40px; }
.ty-calendar_days {
  background: #f5f5f5;
  padding: 0;
  position: relative;
  z-index: 120; }
  .ty-calendar_days .ng-binding {
    background: #f5f5f5;
    color: #323232;
    font-size: 12px;
    height: 26px;
    line-height: 26px;
    text-align: center; }
.ty-calendar_row {
  border-bottom: 1px dotted #eeeeee;
  height: 20px;
  padding: 0 5px;
  margin-top: 0 !important; }
  .ty-calendar_row:last-child {
    border-bottom: 0; }
  .ty-calendar_row .ng-binding {
    height: 20px;
    text-align: center;
    width: 100%; }
.ty-calendar_col {
  border-bottom: 2px solid #eeeeee;
  height: 40px;
  position: relative; }
  .ty-calendar_col:after {
    content: "";
    border: 1px dotted #eeeeee;
    position: absolute;
    top: 19px;
    width: 100%; }
.ty-calendar_mainrow {
  overflow-y: scroll;
  position: absolute;
  height: 100%;
  margin-top: 0 !important;
  top: 0;
  padding: 26px 0 0 !important; }
.ty-calendar_elem {
  text-align: center;
  position: relative; }
.ty-calendar_active {
  height: 100%; }
  .ty-calendar_active .ty-calendar_col {
    background-color: rgba(228, 240, 252, 0.8); }
.ty-calendar_active-text {
  color: #2588e4 !important;
  font-weight: bold; }
.ty-calendar_time {
  background-color: #fe3a3d;
  position: absolute;
  height: 2px;
  padding: 1px 0;
  width: 100%;
  z-index: 115; }
  .ty-calendar_time:before {
    content: "";
    background-color: #fe3a3d;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: -1px;
    left: -1px;
    height: 4px;
    width: 4px; }

.platform-ios.platform-cordova:not(.fullscreen) .has-header.has-tabs-top {
  top: 102px; }

/*# sourceMappingURL=style.css.map */
.mi-badge{
    border-radius: 50% !important;
    width: 0 !important;
    height: 0 !important;
    top: 50% !important;
    margin-top: -4px !important;
    right: 28px !important;
    color: transparent !important;
    background-color: #0d8a1b !important;
    padding: 4px !important;
    min-width: initial !important;
}

.mi-badge-tab{
    border-radius: 50% !important;
    width: 0 !important;
    height: 0 !important;
    color: transparent !important;
    background-color: #0d8a1b !important;
    padding: 4px !important;
    min-width: initial !important;
}
/* photoswipe si la image es un redondeo*/
.pswp--open .pswp__zoom-wrap img {
   animation: radioin 222ms ease-in-out;
}

@keyframes radioin {
  0% {
     border-radius: 50%;
  }
  100% {
     border-radius: 0%;
  }
}