<ion-header-bar align-title="left" class="bar-subheader">
	<a href="#/tab/players" class="title">Jugadores</a>
	<div class="buttons">
		<button class="button button-clear button-green">Crear grupo</button>
	</div>
</ion-header-bar>

<ion-view view-title="Grupos">
	<ion-nav-buttons side="right">
		<button class="button button-icon" ng-click="onSearch()">
			<i class="ic-search"></i>
		</button>
	</ion-nav-buttons>

    <ion-content>
		<ion-list class="players-list">
			<ion-item class="item item-avatar item-icon-right" type="item-text-wrap" href="">
				<img ng-src="assets/img/groups/1.png">
				<h2>Grupo Martes de noche</h2>
				<p>Montevideo, Uruguay</p>
				<p>Lawn Tenis, Nautilus</p>
				<i class="icon ion-chevron-right"></i>
			</ion-item>
			<ion-item class="item item-avatar item-icon-right" type="item-text-wrap" href="">
				<img ng-src="assets/img/groups/2.png">
				<h2>Argentinos en Punta del Este</h2>
				<p>Punta del Este, Uruguay</p>
				<i class="icon ion-chevron-right"></i>
			</ion-item>
			<ion-item class="item item-avatar item-icon-right" type="item-text-wrap" href="">
				<img ng-src="assets/img/groups/3.png">
				<h2>Networking BA</h2>
				<p>Buenos Aires, Argentina</p>
				<p>San Isidro Club</p>
				<i class="icon ion-chevron-right"></i>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>