<ion-view>
    <ion-nav-title>{{data.title}}</ion-nav-title>

    <ion-nav-buttons side="right">
        <button class="button button-clear button-balanced btn-left" ng-click="data.showDelete = !data.showDelete;" > {{ data.showDelete?'Cancelar':'Editar' }} </button>
    </ion-nav-buttons>

    <ion-content>
        <ion-item  ng-show="data.showDelete" class="item balanced" ng-click="openModal()">
            Añadir jugador...
        </ion-item>

        <ion-list show-delete="data.showDelete" class="players-list">

			<ion-item item="item" class="item item-avatar item-icon-right item-remove-animate" ng-repeat="jugador in data.jugadores" type="item-text-wrap" href="">
                <img ng-src="{{jugador.photo != null ? jugador.photo : 'assets/img/profile.png'}}">
                <h2>{{jugador.jugador.name}}</h2>
                <p>{{jugador.jugador.estado}}</p>
                <p>{{jugador.jugador.clubCancha.nombre}}</p>
                <!--<p>Lawn Tenis, Nautilus</p>-->
                <i class="icon ion-chevron-right"></i>

                <ion-delete-button style="color: #ef473a;" class="ion-minus-circled ion-remove-list item-remove-animate assertive" ng-click="onDelete(jugador)"></ion-delete-button>
			</ion-item>

		</ion-list>
	</ion-content>
</ion-view>