<ion-view view-title="Info del jugador">
	<ion-nav-buttons side="right">
		<button class="button button-icon" ng-click="onSearch()">
			<i class="ic-search"></i>
		</button>
	</ion-nav-buttons>

  <ion-content>
  <div class="list">

    <div class="item item-avatar item-playerinfo" >
      <img src="assets/img/gamers/1.jpg">
      <h2>Novak Djokovic</h2>
      <p>Montevideo, Uruguay</p>
      <p>Lawn Tennis</p>
      <p>Rating 3</p>
    </div>
    <div class="item">
    	<strong>Información de contacto: </strong>
			<p>Email:  ndjokovic@gmail.com</p>
    </div>
    <div class="item">
    	
    </div>

	</div>
            
	</ion-content>
</ion-view>