<ion-view view-title="Info del jugador">

    <ion-content>
        <div class="list">
            <div class="item item-avatar item-playerinfo" >
                <img ng-src="{{jugador.photo != null ? jugador.photo : 'assets/img/profile.png'}}">
                <h2>{{jugador.name}}</h2>
                <p>{{jugador.estado}}</p>
                <p>{{jugador.clubCancha.nombre}}</p>
                <p>Rating {{jugador.rating}}</p>
            </div>
            <div class="item">
                <strong>Información de contacto: </strong>
                    <p>Email:  {{jugador.email}}</p>
            </div>
            <div class="item">

            </div>
        </div>
    </ion-content>
</ion-view>