<ion-view view-title="Info del jugador">

    <ion-content has-header="true">
        <div class="list">
            <div class="item item-avatar item-playerinfo" >
                <img ng-src="{{jugador.photo != null ? jugador.photo : 'assets/img/profile.png'}}">
                <h2>{{jugador.name}}</h2>
                <p>{{jugador.estado}}</p>
                <p>{{jugador.clubCancha.nombre}}</p>
                <p>Rating {{jugador.rating}}</p>
            </div>
            <div class="item">
                <strong>Información de contacto: </strong>
                    <p>Email:  {{jugador.email}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-20">
                <div class="list">
                    <div class="item"></div>
                    <div class="item" ng-repeat="hour in getHours()">
                        {{hour}}
                    </div>
                </div>
            </div>
            <div class="col-80">
                <ion-slide-box show-pager="false" on-slide-changed="nextSlide(index)" style="height:200px">
                    <ion-slide ng-repeat="item in data.slides">

                        <div class="row">
                            <div class="col-33">
                                <div>{{item.fecha1}}</div>
                                <!--<div class="item" ng-repeat="hour in getHours()"></div>-->
                            </div>
                            <div class="col-33">
                                <div>{{item.fecha2}}</div>
                                <!--<div class="item" ng-repeat="hour in getHours()"></div>-->
                            </div>
                            <div class="col-33">
                                <div>{{item.fecha3}}</div>
                                <!--<div class="item" ng-repeat="hour in getHours()"></div>-->
                            </div>
                        </div>
                    </ion-slide>
                </ion-slide-box>
            </div>
        </div>
    </ion-content>
</ion-view>