<ion-view title="Info del jugador">

    <ion-content has-header="true" scroll="false">
        <div div-content>

            <div class="list" style="margin-bottom:0">
                <div class="item item-avatar item-playerinfo" >
                    <!--<img src="assets/img/profile.png" download-task="jugador.photo" ng-src="{{jugador.photo}}">-->

                    <div id="photoswipe" photo-swipe images="images"></div>

                    <h2>{{jugador.name}}</h2>
                    <p>{{jugador.estado}}</p>
                    <p>{{jugador.clubCancha.nombre}}</p>
                    <p>Rating {{jugador.rating}}</p>
                </div>
                <div class="item">
                    <strong>Información de contacto: </strong>
                    <p>Email:  {{jugador.email}}</p>
                </div>
                <h2 class="ty-calendar_title">Agendar Partido</h2>
            </div>

            <ion-slide-box show-pager="false" on-slide-changed="nextSlide(index)" style="height: 264px">

                <ion-slide  ng-repeat="item in data.slides" >

                    <div class="row ty-calendar_days">
                        <div class="col-25">
                            <div class="ng-binding">&nbsp;</div>
                        </div>
                        <div class="col-25">
                            <div class="ty-calendar_active-text">{{item.fecha1[0]}}</div>
                        </div>
                        <div class="col-25">
                            <div>{{item.fecha2[0]}}</div>
                        </div>
                        <div class="col-25">
                            <div>{{item.fecha3[0]}}</div>
                        </div>
                    </div>
                    <div class="row ty-calendar_mainrow scrolling">
                        <div class="col-25">
                            <div class="list ty-calendar_hour">
                                <div class="item" ng-repeat="hour in data.horas">
                                    {{hour}}
                                </div>
                            </div>
                        </div>
                        <div class="col-25 ty-calendar_active"  style="position: relative">

                            <!--<span class="ty-calendar_time" style="top:50px"></span>-->

                            <div class="ty-calendar_match" ng-click="onDisponibilidad(disp, item.fecha1[1])" ng-style="getTopHeigth(disp.fechaI, disp.fechaF)" ng-repeat="disp in getDispByFecha(item.fecha1[1])">
                                <span>Disponible</span>
                            </div>
                            <div class="ty-calendar_col" ng-repeat="hour in data.horas"></div>
                        </div>
                        <div class="col-25" style="position: relative">
                            <div class="ty-calendar_match" ng-click="onDisponibilidad(disp, item.fecha2[1])" ng-style="getTopHeigth(disp.fechaI, disp.fechaF)" ng-repeat="disp in getDispByFecha(item.fecha2[1])">
                                <span>Disponible</span>
                            </div>
                            <div class="ty-calendar_col" ng-repeat="hour in data.horas"></div>
                        </div>
                        <div class="col-25" style="position: relative">
                            <div class="ty-calendar_match" ng-click="onDisponibilidad(disp, item.fecha3[1])" ng-style="getTopHeigth(disp.fechaI, disp.fechaF)" ng-repeat="disp in getDispByFecha(item.fecha3[1])">
                                <span>Disponible</span>
                            </div>
                            <div class="ty-calendar_col" ng-repeat="hour in data.horas"></div>
                        </div>
                    </div>
                </ion-slide>
            </ion-slide-box>

        </div>
    </ion-content>
</ion-view>