<ion-modal-view>

    <ion-header-bar class="bar-stable">
        <button class="button button-clear btn-cgreen" ng-click="inviteModal.hide()">Cancelar</button>
        <h1 class="title">Agregar a un partido</h1>
        <button class="button button-icon" ng-click="onSearch()">
            <i class="ic-search"></i>
        </button>
    </ion-header-bar>

    <ion-header-bar align-title="left" class="bar-subheader">
        <h2 class="title">Seleccionar jugador</h2>
    </ion-header-bar>

    <ion-content>
        <ion-list class="players-list">
            <!--<ion-item class="item item-avatar item-icon-right" type="item-text-wrap" href="">-->
                <!--<img ng-src="assets/img/profile.png">-->
                <!--<h2>Jugador externo</h2>-->
                <!--<p>Nombre Apellido</p>-->
                <!--<p>Email (opcional)</p>-->
                <!--<i class="icon ion-chevron-right"></i>-->
            <!--</ion-item>-->

            <ion-item ng-click="onJugador(jugador)" class="item item-avatar item-icon-right" ng-repeat="jugador in invitados" type="item-text-wrap" href="">
                <img ng-src="{{jugador.photo != null ? jugador.photo : 'assets/img/profile.png'}}">
                <h2>{{jugador.name}}</h2>
                <p>{{jugador.cancha}}</p>
                <p>Lawn Tenis, Nautilus</p>
            </ion-item>
        </ion-list>
    </ion-content>


</ion-modal-view>